* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagebackground {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.logo img {
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.medhistory h1 {
  font-size: 30px;
}
.medhistory,
.Feedback {
  width: 400px;
  margin: 0 auto;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

.submitbtn {
  background-color: #263834;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submitbtn:hover {
  opacity: 1;
  background-color: #6eb3b5;
}

.termsconditions {
  font-size: 18px;
}

.btn input {
  padding: 10px;
  background-color: #263834;
  color: #fff;
  border-radius: 6px;
}
.btn input:hover {
  color: #000;
  background-color: #fff;
  border-radius: 1px solid #000;
}
